.fset{
border:hidden 1px #A0A0A4 ;
background:#CCCCFF;
}
.formLayout
    {
        background-color:#D4DFFF;
        border:inherit 1px #a1a1a1;
        padding: 10px 10px 10px 10px;
		width: 400px;
		height:1000px;
                float : Left
    }
    
    .formLayout label
    {
        display:block;
        width:300px;
        color:#666600;
        margin-bottom:5px;
    }
    
     .formLayout input , .formLayout option
    {
        display:block;
        width:120px;
        color:#666600;
        margin-bottom:5px;
    }
    
 
    .formLayout label
    {
        text-align:Left;
        padding-right:50px;
    }
 
    br
    {
        clear:both;
    }
	#button {
	clear:both;
	width:10px;
        float : left;
    margin-top: 3 px;
    margin-left:auto;
    margin-right:auto;
}

#map_canvas {
   height: 625px;
    width: 950px;
    azimuth:far-right;
	align:right;
	position : absolute;
	top:10;
	right:10
}


  
  #visualize{
          border:1px;
          background-color: #9999ff;
          height : 100%;
          width: 30%;
          azimuth: right
              
      
  }
